In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
# Set paths
path = os.getcwd()
parent_path = os.path.abspath(os.path.join(path, os.pardir))

In [18]:
df_aapl = pd.read_csv(parent_path + "\\Data\\AAPL.csv")

In [19]:
df_aapl

,Date,Open,High,Low,Close,Adj Close,Volume
0,1980-12-12,0.128348,0.128906,0.128348,0.128348,0.099722,469033600.0
1,1980-12-15,0.122210,0.122210,0.121652,0.121652,0.094519,175884800.0
2,1980-12-16,0.113281,0.113281,0.112723,0.112723,0.087581,105728000.0
3,1980-12-17,0.115513,0.116071,0.115513,0.115513,0.089749,86441600.0
4,1980-12-18,0.118862,0.119420,0.118862,0.118862,0.092351,73449600.0
...,...,...,...,...,...,...,...
10650,2023-03-13,147.809998,153.139999,147.699997,150.470001,150.470001,84457100.0
10651,2023-03-14,151.279999,153.399994,150.100006,152.589996,152.589996,73695900.0
10652,2023-03-15,151.190002,153.250000,149.919998,152.990005,152.990005,77167900.0
10653,2023-03-16,152.160004,156.460007,151.639999,155.850006,155.850006,76161100.0
10654,2023-03-17,156.080002,156.740005,154.279999,155.000000,155.000000,98862500.0

In [21]:
df_aapl = df_aapl[["Date","Adj Close"]]
df_aapl = df_aapl[["Adj Close"]]

In [100]:
class ADF:
    """Augmented Dickey-Fuller Test
    # https://www.statology.org/dickey-fuller-test-python/
    A time series is said to be “stationary” if it has no trend, exhibits constant variance over time, and has a constant autocorrelation structure over time.
    One way to test whether a time series is stationary is to perform an augmented Dickey-Fuller test, which uses the following null and alternative hypotheses:
    H0: The time series is non-stationary. In other words, it has some time-dependent structure and does not have constant variance over time.
    HA: The time series is stationary.
    If the p-value from the test is less than some significance level (e.g. α = .05), then we can reject the null hypothesis and conclude that the time series is stationary.
    """
    def __init__(self):
        self.time_serie = pd.DataFrame()
        self.df = pd.DataFrame()
        self.ar_param = {}
    
    def set_time_serie(self, ts):
        """
        Time series with closing price only!
        """
        self.time_serie = ts

    def set_lag(self, lag):
        for i in range(lag):
            self.df["lag_"+str(i)] = self.df["Returns"].shift(i)
        
        self.df.dropna(inplace = True)
        self.df = self.df.iloc[:,1:]
        
    def set_return(self):
        self.df["Returns"] = np.log(self.time_serie/self.time_serie.shift(1))
        self.df.dropna(inplace=True)        
        
    def set_ar_param(self):
        a = np.dot(self.df.iloc[:,0],self.df.iloc[:,1]) # dot product of two first column
        b = np.dot(self.df.iloc[:,1],self.df.iloc[:,1]) 
        self.ar_param[1] = a/b

In [101]:
a = ADF()

In [102]:
a.set_time_serie(df_aapl)

In [103]:
a.set_return()

In [104]:
a.set_lag(2)

In [105]:
a.set_ar_param()

In [106]:
a.ar_param

{1: 0.016147177840466778}

In [123]:
import statsmodels.api as sm

In [130]:
y = a.df.iloc[:,0]
x = a.df.iloc[:,1]
x = sm.add_constant(x)

In [131]:
result = sm.OLS(y,x).fit()

In [132]:
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  lag_0   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                  0.000
Method:                 Least Squares   F-statistic:                     2.584
Date:                Mon, 20 Mar 2023   Prob (F-statistic):              0.108
Time:                        00:52:49   Log-Likelihood:                 22729.
No. Observations:               10653   AIC:                        -4.545e+04
Df Residuals:                   10651   BIC:                        -4.544e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.0007      0.000      2.463      0.014       0.000       0.001
lag_1          0.0156      0.010      1.608      0.108      -0.003       0.035
==============================================================================
Omnibus:                     6161.619   Durbin-Watson:                   2.000
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           991504.669
Skew:                          -1.742   Prob(JB):                         0.00
Kurtosis:                      50.134   Cond. No.                         34.9
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [111]:
a.df

          lag_0     lag_1
2     -0.076231 -0.053581
3      0.024450 -0.076231
4      0.028581  0.024450
5      0.059239  0.028581
6      0.047522  0.059239
...         ...       ...
10650  0.013179 -0.013976
10651  0.013991  0.013179
10652  0.002618  0.013991
10653  0.018521  0.002618
10654 -0.005469  0.018521

[10653 rows x 2 columns]

In [ ]:
result = sm.ols( , data=df).fit()

nan

    Augmented Dickey-Fuller test.
    Phillips-perron test.
    KPSS test.
    ADF-GLS test
    Breusch-godfrey test.
    Ljung-Box test.
    Durbin-watson test.